.Title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: black;
    font-family: 'Ultra', serif;
    font-size: 72px;
    text-align: center;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.img {
    border-radius: 75px;
}

.Images {
    display: flex;
    justify-content: center;
}

h1{
    display:flex;
    justify-content: center;
    color: white;
    font-family: 'Vollkorn', serif;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    color: darkslategrey;
    font-family: 'Vollkorn', serif;
}

.location {
    display: flex;
    justify-content: center;
}

.margin-top{
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.mx {
    margin-left: 5px;
    margin-right: 5px;
}

.bg-1 {
    background-image: url("../assets/images/Charlie-bg-dark.png");
}