.Title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
}


.Flex-Container {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.img {
    border-radius: 75px;
}

.Images {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    color: darkslategrey;
}

.location {
    display: flex;
    justify-content: center;
}