.Title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;

}

.Flex-Container {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.img-1,
.img-4, .img-5, .img-6 {
    border-radius: 75px;
}

.Title-Image {
    display: flex;
    justify-content: center;

}

h2 {
    color: blue;
}

h4 {
    color: blue;
}

.location {
    display: flex;
    justify-content: center;
}